In [10]:
import pandas as pd
import numpy as np

data_df = pd.read_csv("data/hr_data.csv")

dropped_df = data_df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

print(f"Column Count: {len(dropped_df.columns)}")
for column in dropped_df.columns:
    print(f'Column: {column}')
    print(np.unique(dropped_df[column]))
    print("\n")

Column Count: 31
Column: Age
[18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60]


Column: Attrition
['No' 'Yes']


Column: BusinessTravel
['Non-Travel' 'Travel_Frequently' 'Travel_Rarely']


Column: DailyRate
[ 102  103  104  105  106  107  109  111  115  116  117  118  119  120
  121  124  125  128  129  130  131  132  134  135  136  138  140  141
  142  143  144  145  146  147  148  150  152  153  154  155  156  157
  160  161  163  164  167  168  170  172  174  176  177  179  180  181
  182  185  188  189  192  193  194  195  196  199  200  201  202  203
  204  205  206  207  208  210  211  213  216  217  218  219  224  228
  230  231  232  234  237  238  240  241  243  244  247  248  249  251
  252  253  254  256  258  261  263  264  265  266  267  268  269  271
  277  279  280  282  285  286  287  288  289  290  294  296  299  300
  301  302  303  304  305  306  307  309  310  311  313  314  316  317
  318  319  322  325  326  328  329  330  332  333  334  335  336  337
  341  342  343  345  346  350  352  355  359  360  362  363  364  365
  367  369  370  371  373  374  376  377  379  381  383  384  390  391
  392  394  395  397  401  404  405  406  408  410  412  413  414  415
  419  422  426  427  428  429  430  431  432  433  436  437  438  439
  440  441  442  443  444  446  447  448  452  457  458  459  461  462
  464  465  466  467  468  469  470  471  472  474  477  478  479  480
  481  482  483  486  488  489  490  492  495  496  498  499  500  501
  504  505  506  507  508  509  511  515  516  523  524  525  526  527
  528  529  530  531  532  534  535  536  538  541  542  543  544  546
  548  549  552  553  555  556  557  558  559  560  561  562  563  566
  567  570  571  572  573  574  575  580  581  582  583  584  585  586
  587  588  589  590  591  592  593  594  598  599  600  601  602  603
  604  605  607  608  611  613  616  617  618  619  621  622  625  626
  628  629  630  632  634  635  636  638  640  641  642  644  645  646
  647  648  650  652  653  654  655  657  658  660  661  662  663  664
  665  666  667  669  670  671  672  673  674  675  676  678  682  683
  684  685  688  689  691  692  693  694  696  697  699  702  703  704
  705  706  708  711  713  715  717  718  719  720  721  722  723  725
  726  727  728  734  735  736  737  738  740  741  746  748  750  754
  755  756  759  760  763  766  769  770  771  772  773  775  776  781
  782  783  786  788  790  791  792  793  796  797  798  799  801  802
  804  805  806  807  809  810  812  813  817  818  819  821  823  824
  827  828  829  830  832  833  835  836  840  841  845  848  849  852
  853  854  855  857  859  862  866  867  868  869  871  874  878  879
  880  881  882  883  884  885  887  888  889  890  891  894  895  896
  897  898  902  903  905  906  911  913  916  917  918  920  921  922
  924  926  928  929  930  931  932  933  935  937  938  939  942  943
  944  945  946  949  950  953  954  955  956  957  959  964  966  967
  968  969  970  971  974  975  976  977  979  981  982  983  984  986
  988  989  990  991  992  994  995  996  999 1001 1002 1003 1005 1009
 1010 1012 1015 1017 1018 1023 1029 1030 1031 1033 1034 1035 1037 1038
 1040 1041 1045 1046 1050 1052 1053 1054 1055 1059 1060 1062 1063 1064
 1065 1066 1069 1070 1075 1076 1079 1082 1083 1084 1085 1086 1089 1090
 1091 1092 1093 1094 1096 1097 1098 1099 1102 1103 1105 1107 1108 1109
 1111 1112 1115 1116 1117 1120 1122 1123 1124 1125 1126 1127 1128 1130
 1131 1132 1134 1136 1137 1138 1141 1142 1144 1145 1146 1147 1150 1151
 1153 1154 1157 1158 1162 1167 1168 1169 1171 1172 1174 1176 1178 1179
 1180 1181 1182 1184 1186 1188 1189 1192 1193 1194 1195 1198 1199 1200
 1202 1204 1206 1207 1210 1211 1212 1213 1214 1216 1217 1218 1219 1220
 1221 1222 1223 1224 1225 1229 1230 1231 1232 1234 1236 1238 1239 1240
 1242 1243 1245 1246 1247 1249 1251 1252 1253 1254 1255 1256 1258 1259
 1261 1262 1265 1266 1268 1269 1271 1272 1273 1274 1275 1276 1277 1278
 1280 1282 1283 1287 1288 1291 1294 1296 1297 1299 1300 1302 1303 1305
 1306 1308 1309 1311 1312 1313 1315 1316 1318 1319 1320 1321 1322 1323
 1324 1325 1326 1327 1328 1329 1330 1332 1333 1334 1336 1337 1339 1342
 1343 1344 1346 1349 1351 1353 1354 1355 1356 1357 1358 1360 1361 1362
 1365 1366 1368 1369 1370 1371 1372 1373 1375 1376 1377 1378 1379 1380
 1381 1382 1383 1384 1385 1387 1389 1391 1392 1394 1395 1396 1397 1398
 1400 1401 1402 1403 1404 1405 1410 1411 1413 1416 1418 1420 1421 1422
 1423 1425 1427 1429 1431 1434 1435 1436 1439 1440 1441 1442 1443 1444
 1445 1448 1449 1450 1451 1452 1454 1456 1457 1459 1462 1463 1464 1465
 1467 1469 1470 1473 1474 1475 1476 1479 1480 1482 1485 1488 1490 1492
 1495 1496 1498 1499]


Column: Department
['Human Resources' 'Research & Development' 'Sales']


Column: DistanceFromHome
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29]


Column: Education
[1 2 3 4 5]


Column: EducationField
['Human Resources' 'Life Sciences' 'Marketing' 'Medical' 'Other'
 'Technical Degree']


Column: EnvironmentSatisfaction
[1 2 3 4]


Column: Gender
['Female' 'Male']


Column: HourlyRate
[ 30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]


Column: JobInvolvement
[1 2 3 4]


Column: JobLevel
[1 2 3 4 5]


Column: JobRole
['Healthcare Representative' 'Human Resources' 'Laboratory Technician'
 'Manager' 'Manufacturing Director' 'Research Director'
 'Research Scientist' 'Sales Executive' 'Sales Representative']


Column: JobSatisfaction
[1 2 3 4]


Column: MaritalStatus
['Divorced' 'Married' 'Single']


Column: MonthlyIncome
[ 1009  1051  1052 ... 19943 19973 19999]


Column: MonthlyRate
[ 2094  2097  2104 ... 26968 26997 26999]


Column: NumCompaniesWorked
[0 1 2 3 4 5 6 7 8 9]


Column: OverTime
['No' 'Yes']


Column: PercentSalaryHike
[11 12 13 14 15 16 17 18 19 20 21 22 23 24 25]


Column: PerformanceRating
[3 4]


Column: RelationshipSatisfaction
[1 2 3 4]


Column: StockOptionLevel
[0 1 2 3]


Column: TotalWorkingYears
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 40]


Column: TrainingTimesLastYear
[0 1 2 3 4 5 6]


Column: WorkLifeBalance
[1 2 3 4]


Column: YearsAtCompany
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 29 30 31 32 33 34 36 37 40]


Column: YearsInCurrentRole
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]


Column: YearsSinceLastPromotion
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]


Column: YearsWithCurrManager
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]

In [15]:
to_categorize = ['Attrition', 'BusinessTravel', 'Department', 'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'OverTime', 'RelationshipSatisfaction', 'WorkLifeBalance']

value_map = []
for column in to_categorize:
    print(column)
    my_dict = {}

    unique_values = np.unique(dropped_df[column])
    sorted_values = np.sort(unique_values)
    for idx, value in enumerate(sorted_values):
        my_dict[idx] = value
        
    value_map.append({
        column: my_dict
    })

for dict_map in value_map:
    print(dict_map)
    print("\n")

Attrition
BusinessTravel
Department
Education
EducationField
EnvironmentSatisfaction
Gender
JobInvolvement
JobLevel
JobRole
JobSatisfaction
MaritalStatus
OverTime
RelationshipSatisfaction
WorkLifeBalance
{'Attrition': {0: 'No', 1: 'Yes'}}


{'BusinessTravel': {0: 'Non-Travel', 1: 'Travel_Frequently', 2: 'Travel_Rarely'}}


{'Department': {0: 'Human Resources', 1: 'Research & Development', 2: 'Sales'}}


{'Education': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4), 4: np.int64(5)}}


{'EducationField': {0: 'Human Resources', 1: 'Life Sciences', 2: 'Marketing', 3: 'Medical', 4: 'Other', 5: 'Technical Degree'}}


{'EnvironmentSatisfaction': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4)}}


{'Gender': {0: 'Female', 1: 'Male'}}


{'JobInvolvement': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4)}}


{'JobLevel': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4), 4: np.int64(5)}}


{'JobRole': {0: 'Healthcare Representative', 1: 'Human Resources', 2: 'Laboratory Technician', 3: 'Manager', 4: 'Manufacturing Director', 5: 'Research Director', 6: 'Research Scientist', 7: 'Sales Executive', 8: 'Sales Representative'}}


{'JobSatisfaction': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4)}}


{'MaritalStatus': {0: 'Divorced', 1: 'Married', 2: 'Single'}}


{'OverTime': {0: 'No', 1: 'Yes'}}


{'RelationshipSatisfaction': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4)}}


{'WorkLifeBalance': {0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4)}}

In [ ]:
for column in categorize:
    for